<!DOCTYPE html>
<html>
  <head>
    <title> Midrash.ai</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Midrash.ai">
    <meta name="description" content="This bot know's about the Talmud. Ask a question about it!">
    <meta property="og:type" content="website">
<meta property="og:url" content="https://midrash.ai/">
<meta property="og:title" content="Midrash.ai">
<meta property="og:description" content="This bot know's about the Talmud. Ask a question about it!">
<meta property="og:image" content="{{ url_for('static', filename='images/handshake.jpg') }}">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://midrash.ai/">
<meta property="twitter:title" content="Midrash.ai">
<meta property="twitter:description" content="This bot know's about the Talmud. Ask a question about it!">
<meta property="twitter:image" content="{{ url_for('static', filename='images/handshake.jpg') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link
    type="text/css"
    rel="stylesheet"
    href="{{ url_for('static', filename='dist/css/output.css') }}"
  />

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ gtm_container_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ gtm_container_id }}');
</script>

  </head>
  <body>
   <div >
  
     <div class="min-h-screen bg-gray-100">
      <div class="bg-gray-100 text-gray-600 px-6 lg:px-8 py-4">
        <div class="max-w-screen-xl mx-auto flex justify-between items-center relative">
       
          <div class="flex flex-row space-x-2 items-center justify-center">
            <a href="https://aiandfaith.org" target="_blank">
              <img src="{{ url_for('static', filename='/images/aiandfaith.jpg') }}" alt="Talmud Talks logo" class=" inline-block h-16 mx-auto mb-10 ">
            </a>

            <p class="inline-block h-16 mx-auto   font-extrabold text-black">X</p>
            <a href="https://handshake.fyi" target="_blank">
              <img src="{{ url_for('static', filename='/images/handshake.jpg') }}" alt="Talmud Talks logo" class=" inline-block h-16 mx-auto mb-10 ">
            </a>

          </div>
        
      
        </div>
      </div>
      <div x-data="askQuestion()" class="mt-14 flex items-center justify-center ">
        <div class="w-full px-3 md:px-0 md:w-1/2 flex flex-col">
          <div class="text-center mb-10 space-y-4">
            <h1 class="font-extrabold text-4xl">Midrash.ai</h1>
            <p class="text-center text-xs"> This bot combines generative AI models with the Babylonian Talmud to answer questions about the Babylonian Talmud. It is intended for research purposes only. We hope it provokes conversations about truth and interpretation in AI.</p>
            <p class="text-center text-xs">
              Questions and answers are collected by Handshake and AI and Faith. The questions are also transmitted to the companies hosting the AI models.
            </p>
            <p class="text-center text-xs">
              Please approach with an open mind, and reach out any time if you have questions or ideas related to the project.
            </p>
            <p class="text-center text-xs">
              This prototype was created for a conceptual research project in early 2023 and has not been updated since then. This project is unmaintained and preserved for archival purposes only.
            </p>
          </div>
          <form @submit.prevent="handleSubmit">
         
            <div class="flex">
           
             
              <select 
              x-model="ai"
              class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-7 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-gray-600 focus:border-gray-600 focus:outline-none ">
                <option value="openai">OpenAI</option>
                <option value="ai21">AI21</option>
              </select>
              <div class="relative w-full">
                  <input type="text" id="search-dropdown" 
                  x-model="searchValue"
                  class="block p-2.5 w-full h-12 z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-gray-600 focus:border-gray-600 focus:outline-none " 
                  placeholder="Ask me about the Talmud! "
                  :disabled="isLoading"
                  >
                  <div class="absolute top-0 right-0 h-full flex items-start">
                    <button
                      type="submit"
                      :disabled="isLoading"
                      class="px-4 py-3 text-gray-500 focus:outline-none"
                    >
                      <template x-if="isLoading">
                        <div>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6 animate-spin">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                          </svg>
                        </div>
                      </template>
                      <template x-if="!isLoading">
                        <div>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6 text-black">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                          </svg>
                        </div>
                      </template>
                    </button>
                
                    <button @click="cancelRequest()" type="button" class="px-4 py-3 text-gray-500 focus:outline-none"  x-show="isLoading">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
              </div>
          </div>
             
          </form>
       
        
          <template x-if="isWaiting">
           
           
              <div x-data="typingAnimation()" x-init="init()" class=" flex items-end justify-start bg-white p-4 mt-4">
              <p class="mr-2 text-2xl font-normal"> We Are </p>  <span class="text-2xl font-bold text-gray-800" x-text="displayText"></span>
                <div class="bg-black w-4 h-1 animate-blink"></div>
              </div>
          
          </template>
          
          
          
          <div  x-show="$store.globalState.showAnswer" class="mb-5" >
            <div class="flex justify-left text-justify whitespace-pre-wrap text-black border border-gray-300 bg-white items-center transition-all duration-500 ease-in-out mt-5 p-4 rounded" x-text="result" style="white-space: pre-wrap;">
             
            </div>
         
          </div>
        
          <div x-show="$store.globalState.showReference" class="mb-5">
            <div class="mx-auto flex items-center justify-center ">
              <button @click="$store.globalState.toggleBookReference()" title="Book Reference" type="button" >
                <svg x-show="!$store.globalState.showBookReference"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                
                <svg x-show="$store.globalState.showBookReference" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                </svg>
                
                                
              </button>
            </div>

            <div x-show="$store.globalState.showBookReference" x-transition:enter="transition-opacity ease-out duration-300"
            x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
            x-transition:leave="transition-opacity ease-in duration-300"
            x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="mb-5 text-black flex flex-col space-y-2 justify-left text-black border border-gray-300 bg-white   transition-all duration-500 ease-in-out mt-5 p-4 rounded">
              <h2 x-text="reference" class="font-bold text-left text-xl">
              
              </h2>
           
              <div x-data="{ currentLength: 1500, initialLength: 1500 }">
                <p  style="white-space: pre-wrap;"  class="text-justify text-sm mb-5" x-html="refcontent.substr(0, currentLength) + (currentLength < refcontent.length ? '...' : '')"></p>
              <hr>
                <div class="flex flex-row justify-between bg-white my-5 px-5">
                  <button type="button" class="transition ease-in-out delay-150 duration-300 hover:font-bold font-thin" x-show="currentLength < refcontent.length" @click="currentLength += 1500" >Read More</button>
                  <button type="button" class="transition ease-in-out delay-150 duration-300 hover:font-bold font-thin" x-show="currentLength > initialLength" @click="currentLength = initialLength">Show Less</button>
                </div>
    
            </div>
             
                    </div>
          </div>
        
        
          </div>
      
      </div>
     </div>

        

   
    </div>

    
<footer class="bg-white rounded-lg  m-4 ">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    x-data
    x-html="`Built by <a href='https://handshake.fyi' target='_blank' class='underline'>Handshake</a> in partnership with <a href='https://aiandfaith.org/' target='_blank' class='underline'>AI and Faith</a> in June 2023. `">
</span>

  <div class="flex flex-row space-x-2">
    <a href="https://www.linkedin.com/company/handshake-innovation" target="_blank" >
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" style="fill:#4D4D4D;">
        <path d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 7.7792969 6.3164062 C 6.9222969 6.3164062 6.4082031 6.8315781 6.4082031 7.5175781 C 6.4082031 8.2035781 6.9223594 8.7167969 7.6933594 8.7167969 C 8.5503594 8.7167969 9.0644531 8.2035781 9.0644531 7.5175781 C 9.0644531 6.8315781 8.5502969 6.3164062 7.7792969 6.3164062 z M 6.4765625 10 L 6.4765625 17 L 9 17 L 9 10 L 6.4765625 10 z M 11.082031 10 L 11.082031 17 L 13.605469 17 L 13.605469 13.173828 C 13.605469 12.034828 14.418109 11.871094 14.662109 11.871094 C 14.906109 11.871094 15.558594 12.115828 15.558594 13.173828 L 15.558594 17 L 18 17 L 18 13.173828 C 18 10.976828 17.023734 10 15.802734 10 C 14.581734 10 13.930469 10.406562 13.605469 10.976562 L 13.605469 10 L 11.082031 10 z"></path>
    </svg>
    </a>
    <a href="https://github.com/handshake-consulting/midrash-ai-public" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
      style="fill:#4D4D4D;">
          <path d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6c0-0.4,0-0.9,0.2-1.3 C7.2,6.1,7.4,6,7.5,6c0,0,0.1,0,0.1,0C8.1,6.1,9.1,6.4,10,7.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3c0.9-0.9,2-1.2,2.5-1.3 c0,0,0.1,0,0.1,0c0.2,0,0.3,0.1,0.4,0.3C17,6.7,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4 c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3C22,6.1,16.9,1.4,10.9,2.1z"></path>
      </svg>
    </a>
  </div>




  </div>
</footer>

    <script src="{{ url_for('static', filename='load.js') }}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
 
  </body>
</html>
